.memory-display {
    display: grid;
    grid-template-columns: 80% 20%;
    height: 100vh;
    box-sizing: border-box;
    padding: 5px;
    /* grid-template-rows: 10vh 90vh; */
}

.memory-display-navigation {
    grid-column: 2;
    /* grid-row: 2; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
    /* margin-left: 1vw;
    margin-right: 2vw; */
    height: 50vh;
    /* position: fixed;
    top: 12vh; */
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px #1FAD39,
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 4px;
}
.memory-nav-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.memory-display-button {
    border: none;
    font-size: 12px;
    font-family: inherit;
    background-color: #1FAD39;
    color: whitesmoke;
    width: fit-content;
    height: 4.3vh;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin: 8px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.memory-display-button:hover {
    background-color: #187e2b;
}

.tags-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25vw;
    height: 40vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
    /* border: 1px solid black; */
}
.tags-title {
    font-size: 2.6vh;
    font-weight: 600;;
}
.individual-tag {
    display: flex;
    width: 50%;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 4px;
}
.tags-input {
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin: 4px;
    text-align: center;
}
.tags-input:focus {
    outline: 0;;
}
.tag-form-button {
    box-sizing: border-box;
    background-color: #F2F4F3;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin: 4px;
}
.tag-delete-button {
    box-sizing: border-box;
    float: right;
    background-color: #F2F4F3;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin-top: 1px;
}
.tag-form {
    border: 0px solid black;
}



.memory-display-container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    height: 100vh;
    overflow-y: scroll;
    /* height: 100vh; */
    color: #0A1931;
    /* border: 3px solid black; */
}

.memory-display-title {
    font-size: 6vh;
    font-weight: 600;
}
.memory-details-container {
    display: flex;
    width: 33vw;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 2vh;
}
.memory-detail {
    box-sizing: border-box;
}
.memory-display-image {
    height: auto;
    max-width: 400px;
    margin: 30px;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
}


.memory-display-body {
    width: 85%;
    font-size: 2.2vh;
    box-sizing: border-box;
    /* margin-top: 2vh; */
    text-indent: 2vw;
    line-height: 1.7;
}


