.memory-display {
    display: grid;
    grid-template-columns: 25vw 60vw 15vw;
    grid-template-rows: 10vh 90vh;
}

.memory-display-navigation {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    margin-left: 1vw;
    margin-right: 2vw;
    height: 40vh;
    position: fixed;
    top: 5vh;
    background-color: #F2F4F3;
}
.tags-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 4px;
}
.tags-title {
    font-size: 2.6vh;
    font-weight: 600;;
}
.individual-tag {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.tag-delete-button {
    box-sizing: border-box;
    /* margin-left: 10px; */
    float: right;
    background-color: brown;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 1px;
}
.tag-form {
    border: 1px solid black;
}


.memory-display-button {
    border: none;
    background-color: #0A1931;
    color: #A896CF;
    width: fit-content;
    height: 4vh;
    font-size: 2.5vh;
    border-radius: 5px;
}
.memory-display-button:hover {
    border: 2px solid #A896CF;
}
.memory-edit-link {
    color: #0A1931;
    font-size: 3vh;
    text-decoration: none;
}
.memory-edit-link:visited {
    color: #0A1931;
}
.memory-edit-link:hover {
    text-decoration: underline;
}

.memory-display-container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 4vw;
    height: 100vh;
    color: #0A1931;
}

.memory-display-title {
    font-size: 6vh;
    font-weight: 600;
}
.memory-details-container {
    display: flex;
    width: 33vw;
    justify-content: space-between;
}
.memory-detail {
    box-sizing: border-box;
    /* margin-left: 10px; */
}

/* .memory-display-date {
    font-size: 2.3vh;
    box-sizing: border-box;
    margin-left: 3vw;
}
.memory-display-location {
    font-size: 2.3vh;
    box-sizing: border-box;
    margin-left: 3vw;
}
.memory-display-rating {
    font-size: 2.3vh;
    box-sizing: border-box;
    margin-left: 3vw;
} */

.memory-display-body {
    font-size: 2.6vh;
}


