.memory-form-container {
    margin-left: 200px;
    margin-top: 50px;
}

.CKEditor-container {
    width: 800px;
    /* height: 200px; */
}

.ck-editor__editable_inline {
    min-height: 400px;
    color: black;
}

.memory-form-button {
    /* margin-top: 300px; */
}

.memory-input {
    font-size: 16px;
}