.homepage-container {
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
    /* background-color: black; */
}

.homepage-sidebar {
    grid-column: 1;
    border-right: solid 2px aliceblue;
    background-color: black;
}

.homepage-greeting {
    /* grid-column: 1; */
    font-size: 30px;
}

.memory-list-container {
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
}

