.homepage-container {
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
    /* background-color: black; */
}

.homepage-sidebar {
    grid-column: 1;
    border-right: solid 2px aliceblue;
    background-color: black;
}

.homepage-greeting {
    /* grid-column: 1; */
    font-size: 30px;
}

.memory-list-container {
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
}

.greeting-link {
    color: aliceblue;
}

.memories-search-input {
    font-size: 20px;
    box-sizing: border-box;
    margin: 65px;
    border:2.5px solid darkgray
}
.memories-search-input:focus {
    outline: 0;
}

.logout-button-container {
    position: relative;
    bottom: -60vh;
    left: 5vw;
}
.logout-button {
    width: 15vw;
    height: 5vh;
    font-size: 3vh;
    font-family: inherit;
    background-color: aliceblue;
    border: none;
    
}