.homepage-container {
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
    width: 100%;
    /* background-color: black; */
}

.homepage-sidebar {
    grid-column: 1;
    border-right: solid 2px aliceblue;
    background-color: #0A1931;
    color: #A896CF;
}

.homepage-greeting {
    /* grid-column: 1; */
    font-size: 30px;
}

.memory-list-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
}

.greeting-link {
    color: #A896CF;
    text-decoration: none;
}
.greeting-link:visited {
    color: #A896CF;
}
.greeting-link:hover {
    text-decoration: underline;
}

.memories-search-input {
    font-size: 20px;
    box-sizing: border-box;
    margin: 65px;
    border:2.5px solid darkgray;
    width: 15vw;
}
.memories-search-input:focus {
    outline: 0;
}

.logout-button-container {
    position: relative;
    bottom: -56vh;
    left: 5vw;
}
.logout-button {
    width: 15vw;
    height: 5vh;
    font-size: 3vh;
    font-family: inherit;
    background-color: #FFF9EC;
    color: #0A1931;
    border: none;
    border-radius: 5px;
}
.logout-button:hover {
    border: 2px solid #A896CF;
}