.single-memory-container{
    width: 40%;
    min-height: 12vh;
    box-sizing: border-box;
    margin: 6px;
    padding: 3px;
    display: grid;
    grid-template-columns: 60% 40%;
    border: 2.3px solid #5B7B7A;
    border-radius: 4px;
    color: #0A1931;
    overflow: hidden;
}

.memory-box-link {
    color: #0A1931;
    text-decoration: none;
    font-size: 1.7vh;
    grid-column: 1;
    font-weight: 600;
    box-sizing: border-box;
    margin: 4%;
}
.memory-box-link:hover {
    text-decoration: underline;
}
.memory-box-link:visited {
    color: #0A1931;
}
/* .memory-box-details {
    font-size: 10px;
    height: 10vh;
    display: grid;
    grid-template-columns: 70% 30%;
} */
.memory-box-date {
    grid-column: 2;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 4%;
    
}
.memory-box-rating {
    grid-column: 2;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-box-body {
    font-size: 14px;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 6vh;
}