/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');
body {
    margin: 0 !important;
    background-color: #0A1931;
    color: #EFEFEF;
    font-family: 'Lora', serif;
}