/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body {
    margin: 0 !important;
    background-color: #fafafa;
    color: #0A0908 ;
    font-family: 'Nanum Gothic', sans-serif;
    width: 100vw;
}