.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.splash-logo {
    width: 28vw;
    box-sizing: border-box;
    margin-top: 6vh;
}

.splash-text {
    font-size: 1.5vw;
    width: 40vw;
    box-sizing: border-box;
    margin-top: 2vh;
}

.splash-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    box-sizing: border-box;
    margin-top: 20px;
}

.splash-links {
    color: #0A1931;
    text-decoration: none;
    font-size: 3vw; 
    box-sizing: border-box;
    margin-top: 20px;
}

.splash-links:visited {
    color: #0A1931;
}

.demo-login-button {
    width: 10vw;
    min-height: 5vh;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 20%;
    background-color: #49111C;
    color: #F2F4F3;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 2.5vh;
}
.demo-login-button:hover {
    border: 2px solid #0A0908;
}